{{> head }}

{{> navbar }}

<div class="row">
     <div class="col-8">
          <h1>Practicando</h1>
          <p>Solo estamos practicando el maneja de Node</p>
     </div>
     <div class="col-4">
          <img src="assets/img/luna.jpg" alt="img-thumbnail">
     </div>
</div>

{{> footer }}